<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.CouponMapper">


    <select id="getCouponsByActivityId" resultType="java.lang.Integer">
        select c.id
        from coupon c
        where c.activity_id = #{id}
        and c.delete_time is null;
    </select>
</mapper>
